h1{
    background: #FF004D;
    /* margin: left 100px;
    margin-bottom: 200px; */
    /* margin: 100px; */
    /* margin: 200px 100px; */
    margin: 100px 10px 20px 500px;
}
p{
    background: #F6D776;
    padding: 100px;
}